// Variables 

// Colors
$green-color:  #4CB8B3;
$pink-color:   #F53756;
$yellow-color: #FEF46D;
$purple-color: #752F97;
$white-color:  #FFFFFF;
$black-color:  #000000;

// Fonts
$font-primary: 'Monserrat', sans-serif;